/*normalize*/
@import url(../vendor/normalize.css);

/*fonts*/
@import url(../vendor/inter.css);

.page {
  min-width: 320px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  transition: all 0.5s;
}

.page-color {
  background-color: #d3dae4;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  margin: 20px 0 0 0;
  font-size: 25px;
  color: #525354;
  text-align: center;
  opacity: 1;
  transition: all 0.5s;
}

.header__title-opacity {
  opacity: 0;
}

.header__subtitle {
  text-align: center;
  margin: 10px 0 0 0;
  color: #525354;
  opacity: 0;
  transition: all 0.5s;
}

.header__subtitle-opacity {
  opacity: 1;
}

.header__subtitle-span {
  color: #c63031;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.filter__switch {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.3s;
}

.filter__switch:hover {
  opacity: 0.7;
}

.filter__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.filter__checkbox-button {
  display: inline-block;
  position: relative;
  padding-left: 50px;
}

.filter__checkbox-button:hover {
  cursor: pointer;
}

.filter__checkbox-button::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 34px;
  height: 14px;
  background-color: #ebebeb;
  border-radius: 16px;
  box-sizing: border-box;
  transition: background-color 0.5s;
}

.filter__checkbox-button::after {
  display: block;
  content: '';
  position: absolute;
  left: 3.5px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: left 0.5s;
}

.filter__checkbox:checked + .filter__checkbox-button::before {
  background-color: #3d5a80;
}

.filter__checkbox:checked + .filter__checkbox-button::after {
  left: 21px;
}

.calc {
  max-width: 293px;
  border-radius: 12px;
  background-color: #525354;
  color: #fff;
  box-shadow: 0 20px 40px #525354;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calc__result {
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
  max-width: 270px;
  width: 100%;
  height: 75px;
  color: #fff;
  text-align: end;
  font-size: 3rem;
  font-weight: 200;
  background-color: transparent;
  border: none;
}

.calc__result::placeholder {
  color: #fff;
}

.calc__buttons {
  display: grid;
  grid-template-areas:
    'calc__btn-ac calc__btn-plus-minus calc__btn-percent calc__btn-division'
    'calc__btn-seven calc__btn-eight calc__btn-nine calc__btn-multiply'
    'calc__btn-four calc__btnfive calc__btn-six calc__btn-minus'
    'calc__btn-one calc__btn-two calc__btn-three calc__btn-plus'
    'calc__btn-zero calc__btn-zero calc__btn-comma calc__btn-equal';
  gap: 1px;
  justify-items: center;
  align-items: center;
  margin-bottom: 1px;
}

.calc__btn {
  width: 72px;
  height: 60px;
  color: #fff;
  border: none;
  background-color: #8b8b8c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
  user-select: none;
}

.calc__btn-light-grey {
  transition: all 0.5s;
}

.calc__btn:hover {
  filter: brightness(120%);
}

.calc__btn:active {
  filter: brightness(90%);
}

.calc__btn-grey {
  background-color: #696868;
}

.calc__btn-orange {
  background-color: #ff9501;
  transition: all 0.5s;
}

.calc__btn-zero {
  grid-area: calc__btn-zero;
  width: 100%;
  border-bottom-left-radius: 12px;
}

.calc__btn-equal {
  border-bottom-right-radius: 12px;
}

.active {
  background-color: #fff;
  color: #ff9501;
}

.btn-blue {
  background-color: #3d5a80;
}

.footer {
  color: #696868;
  font-size: 14px;
  margin: 30px 0 0 0;
}
